extends layout.pug

block customheads
  script(src="/js/app-admin.js" type="text/javascript" defer="defer")
  link(rel="stylesheet" href="/css/style.css" type="text/css" )
  //script(src="/js/admin.js" type="text/javascript" defer="defer")

block content
  div(id="root")
