html(dir="ltr")
  head
    title= title
    //link(href="/css/matrix.css" rel="stylesheet" type="text/css")
    //link(href="/css/style.css" rel="stylesheet" type="text/css")
    link(href="/css/normalize.min.css" rel="stylesheet" type="text/css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet" type="text/css")
    link(href="/css/fontawesome-all.min.css" rel="stylesheet" type="text/css")
    //script(src="/js/fontawesome-all.min.js" type="text/javascript")
    //link(href="/css/bootstrap-3.4.1.css" rel="stylesheet" type="text/css")
    //script(src="/js/bootstrap-3.4.1.js" type="text/javascript")
    block customheads
  body
    block content
