/*********************
*        CHECK       *
*********************/
/* The custom-check-label */
.custom-check-label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  //margin-bottom: 12px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    color: darken($body-color, 10%);
  }
  &.disabled {
    color: $disabled-color;
    &:hover {
      color: $disabled-color;
    }
  }
}

/* Hide the browser's default checkbox */
.custom-check-label input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: default;
  height: 0;
  width: 0;
  width: fit-content;
}

.custom-check {
  min-height: 1.5rem;
}
/* Create a custom checkbox */
.custom-checkmark {
  position: absolute;
  top: 0.1rem;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: $input-bgcolor;
  border-radius: 2px;
  &.disabled {
    background-color: $disabled-bgcolor;
  }
}
/* On mouse-over, add a grey background color */
.custom-check-label:hover input[type=checkbox] ~ .custom-checkmark {
  transition: background-color $check-transition-time;
  background-color: darken($input-bgcolor, 10%);
  &.disabled {
    background-color: $disabled-bgcolor;
  }
}
.custom-check-label:active input[type=checkbox] ~ .custom-checkmark {
  background-color: darken($input-bgcolor, 30%);
  &.disabled {
    background-color: $disabled-bgcolor;
  }
}
/* When the checkbox is checked, add a blue background */
.custom-check-label input[type=checkbox]:checked ~ .custom-checkmark {
  background-color: $input-blue;
  &.disabled {
    background-color: $disabled-input-blue;
  }
}
/* Create the custom-checkmark/indicator (hidden when not checked) */
.custom-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the custom-checkmark when checked */
.custom-check-label input[type=checkbox]:checked ~ .custom-checkmark:after {
  display: block;
}

/* Style the custom-checkmark/indicator */
.custom-check-label .custom-checkmark:after {
  left: 4.5px;
  top: 2px;
  width: 0.40rem;
  height: 0.55rem;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.custom-check-box{
  padding-top: calc(0.375rem + 1px);
}
