.elm-datepicker--month-container{
  flex-direction: row;
  align-items: baseline;
}

.elm-datepicker--month{
  font-weight: bold;
  text-align: right;
  padding-right: 4px;
}

.elm-datepicker--year {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  padding-left: 4px;
}

.elm-datepicker--dow {
  font-weight: bold;
  font-size: 14px;
}

.elm-datepicker--day {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
}

.elm-datepicker--prev{
}
