.custom-file {
  position: relative;
  display: inline-block;
  //width: 100%;
  width: 245px;
  height: calc(2.0625rem + 2px);
  margin-bottom: 0;
}

.custom-file-loaded {
  position: relative;
  display: flex;
  flex-direction: row;
  //width: 245px;
  height: calc(2.0625rem + 2px);
  margin-bottom: 0.5rem;
}

.custom-file-preappend {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4F5467;
  text-align: center;
  white-space: nowrap;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  cursor: default;
  margin-right: -1px;
}

.custom-file-append {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4F5467;
  text-align: center;
  white-space: nowrap;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  cursor: default;
  margin-left: -1px;
}

.custom-file-desc {

}

.custom-file-input {
  position: relative;
  z-index: -1;
  width: 100%;
  height: calc(2.0625rem+2px);
  margin: 0;
  opacity: 0;
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(2.0625rem + 2px);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #4F5467;
  background-color: #fff;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  transition: border-color .3s;
  &:hover {
    transition: border-color .3s;
    background-color: #f9f9f9;
    border-color: #cbcbcb;
  }
  &:active {
    background-color: #f1f1f1;
  }
}
