/*********************
*        RADIO       *
*********************/

.custom-radio-box {
  padding-top: calc(0.375rem + 1px);
}
/* The container */
.custom-radio-label {
  display: inline-block;
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0px;
  cursor: default;
  //font-size: 22px;
  line-height: 1.5;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: fit-content;
  &:hover {
    color: darken($body-color, 10%);
  }
  &.disabled {
    color: $disabled-color;
    &:hover {
      color: $disabled-color;
    }
  }
}

/* Hide the browser's default radio button */
.custom-radio-label input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: default;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: $input-bgcolor;
  border-radius: 50%;
  &.disabled {
    background-color: $disabled-bgcolor;
  }
}

/* On mouse-over, add a grey background color */
.custom-radio-label:hover input[type=radio] ~ .checkmark {
  transition: background-color $check-transition-time;
  background-color: darken($input-bgcolor, 10%);
  &.disabled {
    background-color: $disabled-bgcolor;
  }
}
.custom-radio-label:active input[type=radio] ~ .checkmark {
  transition: background-color $check-transition-time;
  background-color: darken($input-bgcolor, 30%);
  &.disabled {
    background-color: $disabled-bgcolor;
  }
}
/* When the radio button is checked, add a blue background */
.custom-radio-label input[type=radio]:checked ~ .checkmark {
  background-color: $input-blue;
  &.disabled {
    background-color: $disabled-input-blue;
  }
  &:hover {
    background-color: darken($input-blue, 30%);
    &.disabled {
      background-color: $disabled-input-blue;
    }
  }
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio-label input[type=radio]:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio-label .checkmark:after {
  left: 0.3rem;
  top: 0.3rem;
  width: 0.4rem;
  height: 0.4rem;
	border-radius: 50%;
	background: white;
}
