.select-drop__wrapper {
  display: block;
  float: left;
  position: absolute;
  //top: 100%;
  z-index: 10;
  border-style: solid;
  border-color: #e9ecef;
  border-width: 0 1px 1px 1px;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: white;
}
.select-drop__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.select-drop__it {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px;
  &:hover {
    background-color: #5897fb;
    color: white;
  }
}
