
.input-mini {
  max-width: 60px;
}

.input-small {
  max-width: 90px;
}

.input-medium {
  max-width: 150px;
}

.input-large {
  max-width: 210px;
}

.input-xlarge {
  max-width: 270px;
}

.input-group-append-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  //color: #4F5467;
  text-align: center;
  white-space: nowrap;
  //background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  cursor: default;
}
@each $type in $typeList {
  .input-group-append-#{nth($type, 1)} {
    background-color: nth($type, 2);
    @if luminance(nth($type, 2)) < 0.6 {
      color: #fff;
    }
    @else {
      color: #000;
    }
  }
}
