.typeahead-drop-wrapper {
  position: absolute;
  border-bottom-left-radius: $input-border-radius;
  border-bottom-right-radius: $input-border-radius;
  border: 1px solid rgba(0,0,0, 0.25);
  background-color: #ffffff;
  min-width: 245px;
  z-index: 10;
  overflow-y: auto;
  max-height: 250px;
}

.typeahead-drop-item {
  margin: 1px;
  padding: 0.2rem 0.3rem;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  &:hover {
    background-color: #e8e8e8;
  }
}

.typeahead-drop-thumb {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.3rem;
}

.typeahead-drop-thumb-inner {
}

.typeahead-drop-desc {
  display: flex;
  flex-direction: column;
}

.typeahead-drop-title {
  font-weight: bold;
}

.typeahead-drop-subtitle {
  font-size: 80%;
}

.typeahead-text {
  cursor: default;
}

.typeahead-drop-empty {
  margin: 1px;
  padding: 0.4rem 0.5rem;
  font-style: italic;
  cursor: default;
  color: #919191;
  border-radius: 3px;
}

.typeahead-input-spinner {
  position: absolute;
  top: 7px;
  bottom: 1px;
  left: 220px;
  font-size: 130%;
  color: transparent;
  transition: color .3s;
  &-loading {
    color: #c8c8c8;
    transition: color .3s;
  }
}
