@import './_config.scss';
.badge {
  font-weight: 300;
  line-height: normal;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px;
  cursor: default;
  &-rounded {
    border-radius: 10rem;
    padding: 0.2em 0.6em;
  }
  @each $type in $typeList {
    &-#{nth($type, 1)} {
      background-color: nth($type, 2);
      @if luminance(nth($type, 2)) < 0.6 {
        color: #fff;
      }
      @else {
        color: #000;
      }
    }
  }
}
