/***********************
*         BODY         *
***********************/
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  color: $body-color;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: $body-bgcolor;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h1, .h1 {
  font-size: 36px;
}
h2, .h2 {
  font-size: 30px;
}
h3, .h3 {
  font-size: 24px;
}
h4, .h4 {
  font-size: 18px;
}
h5, .h5 {
  font-size: 16px;
}
h6, .h6 {
  font-size: 14px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
label {
    font-weight: 600;
}
input {
  margin: 0px;
  font-family: inherit;
  overflow: visible;
}

a {
  text-decoration: none;
  &:hover {
    transition: color .3s;
  }
}

.border-top {
  border-top: 1px solid #e9ecef;
}
