@import './_config.scss';

/***********************
*        BUTTON        *
***********************/
.btn {
  font-family: inherit;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.275rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 2px;
  background-color: #dac3e7;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  color: #fff;
  margin: 2px;
}

.btn-mini {
  padding: 0.21rem 0.45rem;
  font-size: 0.65rem;
  line-height: 1.2;
  border-radius: 2px;
  margin: 0.05rem 0.17rem;
}

.btn-small {
  padding: 0.25rem 0.5rem;
  font-size: 0.76rem;
  line-height: 1.5;
  border-radius: 3px;
  margin: 0.05rem 0.17rem;
}

.btn-medium {

}

.btn-large {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: 4px;
  margin: 3px;
}

@each $type in $typeList {
  .btn-#{nth($type, 1)} {
    background-color: nth($type, 2);
    @if luminance(nth($type, 2)) < 0.6 {
      color: #fff;
    }
    @else {
      color: #000;
    }
    &:hover {
      background-color: darken( nth($type, 2), 10%);
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem transparentize(lighten(nth($type, 2), 2%), 0.5);
    }
  }
}
@each $type in $typeList {
  .btn-outline-#{nth($type, 1)} {
    background-color: transparent;
    color: nth($type, 2);
    background-image: none;
    border-color: nth($type, 2);
    &:hover {
      background-color: nth($type, 2);
      @if luminance(nth($type, 2)) < 0.6 {
        color: #fff;
      }
      @else {
        color: #000;
      }
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem transparentize(lighten(nth($type, 2), 2%), 0.5);
    }
  }
}


.btn-disabled {
  cursor: default;
  background-color: #e9ecef;
  color: #bebebe;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  outline:0;
  &:hover {
    background-color: #e9ecef;
    color: #bebebe;
  }
  &:focus {
    box-shadow: unset;
  }
}

.btn-input-append {
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-input-prepend {
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
