
/***********************
*         CARD         *
***********************/
.card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px transparent;
  border-radius: 0px;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  position: relative;
  font-weight: 600;
  margin-bottom: 0;
}
