/***********************
*        CONFIG        *
***********************/
$body-color: #3e5569;
$body-bgcolor: #eef5f9;
$typeList:
  'primary'   #7460ee,
  'secundary' #6c757d,
  'success'   #28b779,
  'danger'    #da542e,
  'warning'   #ffb848,
  'info'      #2255a4,
  'dark'      #343a40,
  'light'     #f8f9fa;

$type-list: (primary secundary success danger warning info dark light);

$input-border-radius: 2px;
$input-border: 1px solid #e9ecef;
$input-blue: #2962ff;
$input-bgcolor: #dedede;
$check-transition-time: 0.0s;
$disabled-bgcolor: lighten($input-bgcolor, 8%);
$disabled-color: lighten($body-color, 40%);
$disabled-input-blue: lighten($input-blue, 20%);
$input-text-color: #4F5467;
