/* from https://github.com/IanLunn/Hover */
/*** Float Effect ***/
.float-effect {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  &:hover, &:focus {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

/*** Glow Effect ***/
.glow-effect {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: box-shadow;
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  -webkit-transform: perspective(1px) translateZ(0);
  &:hover, &:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
