/*********************
*        FORM        *
*********************/
@import './_config.scss';
@import './form/_radio.scss';
@import './form/_check.scss';
@import './form/_select.scss';
@import './form/_datepicker.scss';
@import './form/_datepicker-custom.scss';
@import './form/_text.scss';
@import './form/_misc.scss';
@import './form/_typeahead.scss';
@import './form/_file.scss';

option {
  appearance: none;
  margin: 5px;
  text-indent: 5px;
}

label {
  font-weight: 600;
  display: inline-block;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .form-label {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .form-label {
    text-align: right;
  }
}

.form-control {
  display: block;
  //width: 100%;
  //width: 1%;
  flex: 1 1 auto;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: $input-text-color;
  background-color: #fff;
  background-clip: padding-box;
  border: $input-border;
  border-radius: $input-border-radius;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    //border-right-width: 0;
  }

  &:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    //border-left-width: 0;
  }

  &:focus {
    box-shadow: transparent;
    border-color: rgba(0,0,0, 0.25);
    outline: 0;
  }

  &.form-control-lg {
    padding: 0.5rem 1rem;
    font-size: 1.09375rem;
    line-height: 1.5;
    border-radius: 2px;
  }
  @each $type in $typeList {
    &.input-#{nth($type, 1)} {
      border-color: nth($type, 2);

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(nth($type, 2), .25);
      }
    }
  }
}

.form-group {
  margin-bottom: 1rem;
  width: 100%; // by me...
}

.input-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-weight: bold;
  font-size: 80%;
  @each $type in $typeList {
    &.input-feedback-#{nth($type, 1)} {
      color: nth($type, 2);
    }
  }
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;

  &.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }
}


.input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4F5467;
  text-align: center;
  white-space: nowrap;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  cursor: default;
}

.input-group-prepend {
  display: flex;
  margin-right: -1px;
}

.input-group-append {
  display: flex;
  border-left-width: 0;
  margin-left: -1px;
  >.input-group-text {
    border-left-width: 0;
    //margin-left: -1px;
  }
}
