/***********************
*        LAYOUT        *
***********************/
$main-bgcolor: #1f262d;
$sidebar-width: 250px;
$topbar-height: 64px;
$content-bgcolor: #eeeeee;
$sidebar-selected-bgcolor: #27a9e3;
$top-navbar-bgcolor: #141619;
$inner-padding: 20px;
$inner-padding2: 15px;

.mytext {
  padding: 20px;
  background-color: #d1b289;
}

.main-wrapper {
  width: 100%;
  outline: none;
}

.page-breadcrumb {
  padding: $inner-padding $inner-padding $inner-padding2 $inner-padding;
  box-sizing: border-box;
}

.container-fluid {
  padding: $inner-padding;
  min-height: calc(100hv-180px);
}

@media screen and (min-width: 576px){
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px){
  .container {
      max-width: 720px;
  }
}

@media screen and (min-width: 992px){
  .container {
    max-width: 960px;
  }
}

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    //margin-left: 10px;
}

.topbar {
  background-color: $main-bgcolor;
  position: relative;
  z-index: 50;
  height: $topbar-height;
  display: block;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-expand-md {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.top-navbar {
  min-height: $topbar-height;
  padding: 0px;
}

.navbar-header {
  min-width: $sidebar-width;
  line-height: 64px;
  // font
  text-align: center;
  color: #fff;
  font-size: 26px;
}

.navbar-collapse {
  background-color: $top-navbar-bgcolor;
  flex-basis: auto;
  height: $topbar-height;
}

.navbar-tools {
  background-color: $top-navbar-bgcolor;
  width: 100%;
  flex-basis: auto;
  height: $topbar-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-tools-util {
  font-size: 24px;
  color: #fff;
  display: flex;
}

.navbar-tool-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 $inner-padding;
  height: $topbar-height;
  opacity: 0.8;
  &:hover {
    transition: opacity 0.2s;
    opacity: 1;
  }
}

.navbar-nav {
  flex-direction: row;
}

.collapse {
  padding: 0 10px 0 0;
}

.left-sidebar {
  background-color: $main-bgcolor;
  position: absolute;
  width: $sidebar-width;
  height: 100%;
  top: 0px;
  z-index: 10;
  padding-top: $topbar-height;
  box-shadow: 1px 0px 20px rbga(0,0,0,0.08);
}

.page-wrapper {
  margin-left: $sidebar-width;
  background: $content-bgcolor;
  position: relative;
  height: 100%;
}

.page-title {
  margin-bottom: 0;
}

.scroll-sidebar {
  height: calc(100%-$inner-padding);
  position: relative;
}

.sidebar-nav {
  display: block;
}

.sidebarnav-ul {
  background-color: $main-bgcolor;
  margin: 0px;
  padding: 0px;
}

.sidebar-item {
  list-style: none;
}

.sidebar-item-active a {
  background-color: $sidebar-selected-bgcolor;
  opacity: 1;
}

.sidebar-link {
  color: #fff;
  padding: 14px 15px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  line-height: 25px;
  opacity: 0.6;
  cursor: pointer;
  &:hover {
    transition: opacity .2s;
    opacity: 1;
  }
}

.sidebar-icon {
  font-size: normal;
  width: 35px;
  line-height: 25px;
  font-size: 23px;
  color: #fff;
  display: inline-block;
  text-align: center;
}

.footer {
  padding: 15px $inner-padding;
}



.text-center {
  text-align: center!important;
}
.text-right {
  text-align: right;
}

.p-t-30 {
  padding-top: 30px;
}

.float-left {
  float: left!important;
}
.float-right {
  float: right!important;
}

.mr-auto {
  margin-right: auto!important;
}


.breadcrumb-list {
  padding: 0;
  margin: 0;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.breadcrumb-item {
}

.breadcrumb-sep {
  margin: 0 0.5rem;
}
