// from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal_bottom

.modal {
  position: fixed; /* Stay in place */

  // On top
  z-index: 10; /* Sit on top */

  //  position/dimension
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */

  overflow: auto; /* Enable scroll if needed */
  margin: 1.75rem auto;

  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  align-items: center;
  justify-content: center;

  &-opened {
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  &-closed {
    animation-name: fadeOut;
    animation-duration: 0.4s
  }
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: #fefefe;
  width: 500px;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  border-radius: 2px;
}

.modal-content1 {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.modal-close {
  position: absolute;
  right: 0;
  padding: 0.75rem;
  color: #000;
  cursor: pointer;
  transition: color 200ms;
  &:hover {
    color: #ccc;
  }
}

.modal-header {
  padding: 1rem;
  border-bottom: 1px solid #ededed;
}
.modal-header h1,h2,h3,h4,h5 {
  margin-bottom: 0;
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  padding: 1rem;
  border-top: 1px solid #ededed;
}

/* Animation */
@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}
