.profiler-row {
  //color: #bbbbbb;
}

.profiler-label {
  font-weight: bold;
  text-align: right;
  padding: 0.2rem 0.3rem;
  vertical-align: baseline;
}

.profiler-info {
  padding: 0.2rem 0.3rem;
}
