
.syn__wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  border-left: 1px solid rgba(0, 0, 0, 0.04);
  border-right: 1px solid rgba(0, 0, 0, 0.04);
  &:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
  }
  padding: 14px;
  display: flex;
  box-shadow: 0 0 black;
  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.syn__title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0px;
  text-align: left;
  padding-bottom: 10px;
}

.syn__subtitle {
  font-weight: 400;
  text-align: left;
  margin-bottom: 3px;
}
