

.tbl {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #ffffff;
  border-collapse: collapse;
}

.tbl-tr-h {
  box-sizing: border-box;
  background-color: #fcfcfc;
}

.tbl-tr-b {
  box-sizing: border-box;
  &:hover {
    background-color: #fafafa;
  }
}

.tbl-th {
  font-weight: bold;
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  padding: 1rem;
  text-align: inherit;
}

.tbl-td {
  padding: 1rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}


.tbl-pagination-ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 2px;
  margin: 2px 1rem;
  white-space: nowrap;
  justify-content: flex-end;
}

.tbl-pagination-item {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  margin-left: 0;
  cursor: default;
  //border-top-left-radius: 2px;
  //border-bottom-left-radius: 2px;
  //pointer-events:
  color: #6c757d;
  border-color: #dee2e6;
  border: 1px solid #dee2e6;
  &-dots {
    cursor: default;
  }
  &-active {
    color: #ffffff;
    background-color: #6b7ee3;
    border-color: #8393e9;
    &:hover {
    }
  }
  &-default {
    cursor: pointer;
    background-color: #fff;
    &:hover {
      background-color: #f9f9f9;
    }
  }
  &:last-child {
    margin-left: -1px;
  }
}

.tbl-footer{
  margin: 0 1.25rem 0.5rem;
}

.tbl-header {
  margin: 0.5rem 1.25rem 0 ;
}
