

.tab-nav {
  border-bottom: 1px solid #dee2e6;
  padding-left: 0;
  flex-wrap: wrap;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
  display: flex;
}

.tab-item {
  margin-bottom: -1px;
}

.tab-content {
  border: 1px solid #dee2e6;
  border-top-width: 0px;
}

.tab-link {
  color: #2962ff;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: block;
  padding: 0.5rem 1rem;
  transition: all .3s ease;
  &:hover {
    border-top-color: #e9ecef;
    border-left-color: #e9ecef;
    border-right-color: #e9ecef;
    transition: all .3s ease;
  }
  &__disabled {
    color: #ddd;
    cursor: default;
    &:hover {
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }
  &__active {
    border-color: #dee2e6 #dee2e6 #fff;
    color: #4F5467;
    cursor: default;
    &:hover {
      border-top-color: #dee2e6;
      border-left-color: #dee2e6;
      border-right-color: #dee2e6;
    }
  }
}
