$gPadding: 0px;

.template__outer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $gPadding;
}

.template__wrapper {
  padding: $gPadding;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}

.template__header {
  height: 80px;
  padding: $gPadding;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #a8d6d2;
  width: 100%;
}

.template__container {
  padding: $gPadding;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
  height: 100%;
}

.template__footer {
  padding: $gPadding;
  flex: 0 1 40px;
  background-color: #a8d6d2;
  width: 100%;
  display: none;
}

.template__side {
  min-height: 200px;
  flex: 1;
  padding: $gPadding;
  background-color: #bef1ec;
}

.template__content {
  min-height: 200px;
  flex: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecfbfa;
}

.template__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 26px;
  padding: $gPadding;
}

.template__sidenav-container {
  display: flex;
  flex-direction: column;
  background-color: #ace8e2;
}

.template__sidenav-item {
  font-weight: bold;
  text-align: left;
  padding-left: 30px;
  font-size: 16px;
  margin: 4px;
}

.template__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #a8d6d2;
}

.template__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.rounded-circle {
  border-radius: 50% !important;
}

.listview__wrapper {
  //margin: 10px;
}
/*   ListView   */
.listview__header {
  margin: 0 0.5rem 1rem 0.5rem;
}
.listview__emptyholder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #f9f9f9;
  border: 1px solid #dedede;
  margin: 10px;
  font-style: italic;
  color: #bbb;
  //font-weight: bold;
  font-size: 16px;
  cursor: default;
  border-radius: 2px;
  &__loading {
    font-size: 28px;
  }
}

.listview__footer {
  margin: 0.5rem;
}

.listview__pagination {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  white-space: nowrap;
  border-radius: 2px;
}

.listview__pagination-item {
  padding: 0.5rem 0.75rem;
  border: 1px solid #dee2e6;
  cursor: pointer;
  &:hover {
    background-color: #e9ecef;
  }
  &__disabled {
    color: rgba($body-color, 0.6);
    cursor: default;
    &:hover {
      background-color: #fff;
    }
  }
  &__active {
    background-color: #2962ff;
    border-color: #2962ff;
    color: #fff;
    cursor: default;
    &:hover {
      background-color: #2962ff;
    }
  }
}

.listview__counter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
