
body {
  //background-color: #343a40;
}

#home-title{
  font-size: 20pt;
  font-weight: bold;
  padding: 20px 0;
  color: white;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  align-items: center;
}

.auth-box {
  padding: 20px;
  max-width: 400px;
  width: 90%;
  margin: 10% 0;
  border-top: 1px solid #e9ecef;
}

.text-center {
  text-align: center;
}

#loginform {
  background-color: #343a40;
}
