.body {
  color: #3e5569;
}


.auth-title {
  padding-bottom: 25px;
  padding-top: 20px;
  text-align: center;
  color: #ddd;
  font-weight: bold;
  font-size: 1.5rem;
  border-top: 1px solid  #6c757d;
}

.auth-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #343a40;
}

.auth-box {
  padding: 20px;
  max-width: 400px;
  width: 90%;
  margin: 10% 0;
  //border-color:;
}

.auth-logo {
  font-size: 40px;
  font-weight: bold;
  color: #7d7d7d;
}

.login-form {
  padding-bottom: 10px;
  border-bottom: 1px solid  #6c757d;
}

.login-btnbar {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
